<html lang='en'>
  <head>
    <title>Personal Web</title>
    <link rel='stylesheet' href='/public/style3.css' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    />
    <link rel='icon' href='/public/assets/logo.png' />
  </head>

  <body>
    <nav>
      <div class='left-side'>
        <a href='/'>
          <img src='/public/assets/logo.png' alt='' />
        </a>

        <ol>
          <li style='list-style-type: none'>
            <a href='/' class='home'>Home</a>
          </li>
          <li style='list-style-type: none'>
            <a href='/project' class='project'>Add Project</a>
          </li>
        </ol>
      </div>

      <div class='right-side'>
        <a href='/contact'> Contact Me </a>
      </div>
    </nav>

    <section>
      <div class='container'>
        <div class='content'>
          <div class='line-1'>
            <h2>Hi, Welcome to my Hut</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi,
              dolorum? Quisquam laudantium fugiat, inventore fuga id ea dicta
              quaerat maiores corporis soluta voluptates provident cum eius
              dolores velit magni saepe error nisi, porro molestiae non deserunt
              necessitatibus, explicabo aperiam. Accusamus, dolorem qui modi
              nesciunt culpa consequatur adipisci pariatur dicta cum iusto,
              tempore, quaerat a?
            </p>
          </div>

          <div class='line-2'>
            <div class='button' style='text-align: left'>
              <a href='https://wa.me/0857141248996' target='blank'>
                <button class='btn-detail'>Contact</button>
              </a>
            </div>

            <div class='line-2-2'>
              <a class='download' href=''>download CV</a>
              <a href=''><img
                  src='/public/assets/download-logo.png'
                  alt=''
                /></a>
            </div>
          </div>

          <div class='line-3'>
            <a
              href='https://linkedin.com'
              class='fa fa-linkedin'
              target='blank'
            ></a>
            <a
              href='https://instagram.com'
              class='fa fa-instagram'
              target='blank'
            ></a>
            <a
              href='https://facebook.com'
              class='fa fa-facebook'
              target='blank'
            ></a>
            <a
              href='https://twitter.com'
              class='fa fa-twitter'
              target='blank'
            ></a>
          </div>
        </div>

        <div class='card'>
          <div class='card-content'>
            <img src='/public/assets/img-profile.png' alt='' />
            <h4>Rhoma Irama</h4>
            <p>Fullstack Developer</p>
          </div>
        </div>
      </div>
    </section>

    <section class='container-2'>
      <h4>MY PROJECT</h4>
      <div class='project-list' id='project-list'>
        {{#each projects}}
          <div class='project-list-item'>
            <a href='/detail-project/{{this.id}}'>
              <div class='card-img'>
                <img src={{this.image}} alt='' />
              </div>
              <div class='card-title'>
                <h3>{{this.name}}</h3>
              </div>
              <div class='card-drt'>
                <p>{{this.duration}}</p>
              </div>
              <div class='card-desc'>
                <p>
                  {{this.description}}
                </p>
              </div>
              <div class='card-icon'>
                <img id='next' src='/public/assets/next.png' alt='' />
                <img id='node' src='/public/assets/node.png' alt='' />
                <img id='react' src='/public/assets/react.png' alt='' />
                <img id='type' src='/public/assets/type.png' alt='' />
              </div>
            </a>
            {{#if this.isLogin}}
              <div class='card-btn'>
                <a href='/update-project/{{this.id}}'>Edit</a>
                <a href='/delete-project/{{this.id}}'>Delete</a>
              </div>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </section>
  </body>
</html>